header
{
   margin-top: 0px;
   color:white;
   border: 1px solid #ccc;
   background-image: url("../russianblue.png");
   background-position: 40% 26%;
   height:500px;
}

.bodyStyle
{
   display: flex;
   justify-content: space-around;
}



